body {
    text-align: center;
    background-color: rgb(31, 29, 29);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
color: cornsilk;
text-shadow: black ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img#logo1 {
    background-color: cornsilk;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.3); 
}
ol {
    text-align: left;
    color:cornsilk; 
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
color: rgb(0, 0, 0);
background-color: cornsilk;
text-align: left;
}
h2 {
color: cornsilk;
}
div#iInterface {
    background-color: black;
    width: 900px;
    margin: auto;
    box-shadow: rgba(255, 255, 255, 0.3);
    border-style: solid;
    border-color: cornsilk;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    }
li {
    font-weight: bold
}
img#iFotoPerfil {
    width: 130px;
    margin: -200px 10px 50px 700px;
}
div#iFrase {
    background-color: black;
    width: 900px;
    margin: auto;
    box-shadow: rgba(255, 255, 255, 0.3);
    border-style: solid;
    border-color: cornsilk;
    border-radius: 5px;
    padding: 10px;
    color: cornsilk;
    margin-top: 10px;
}
footer {
    color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div#iCabecalho {
    background-color: black;
    width: 917px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-color: cornsilk;
    border-radius: 5px;
    margin-top: 10px;
    color: cornsilk;
    height: 150px;
}