body {
    text-align: center;
    background-color: rgb(31, 29, 29);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
color: cornsilk;
text-shadow: black ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ol {
    text-align: left;
    color:cornsilk; 
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
color: rgb(0, 0, 0);
background-color: cornsilk;
text-align: left;
}
h2 {
color: cornsilk;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div#iInterface {
    background-color: black;
    width: 520px;
    margin: auto;
    box-shadow: rgba(255, 255, 255, 0.3);
    border-style: solid;
    border-color: cornsilk;
    border-radius: 5px;
    padding: 10px;
    height: 700px;
    position: solid;
    }
li {
    font-weight: bold
}
img#iFotoPerfil {
    width: 130px;
    margin: -180px 0px 100px 380px;
    display: flex;
}
div#iLateral {
    background-color: black;
    width: 430px;
    margin: auto;
    box-shadow: rgba(255, 255, 255, 0.3);
    border-style: solid;
    border-color: cornsilk;
    border-radius: 5px;
    padding: 10px;
    color: cornsilk;
    position: solid;
    height: 700px;
}
footer {
    color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}
div#iCabecalho {
    background-color: black;
    width: 1000px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-color: cornsilk;
    border-radius: 5px;
    color: cornsilk;
    height: 190px;
}
aside {
    margin-top: -726px;
    margin-left: 550px;
}
section {
    margin-top: 10px;
    margin-right: 460px;
}
header {
    margin-top: 50px;
}